<div class="module-container">
    <div class="module-header"></div>
    <div class="module-body">
        <div class="card-header">
            <div class="filter-row">
                <span style="margin-right: 10px">机师: </span>
                <nz-checkbox-group [(ngModel)]="develops" (ngModelChange)="filter()"></nz-checkbox-group>
            </div>
            <div class="filter-row">
                <span style="margin-right: 10px">语言: </span>
                <nz-checkbox-group [(ngModel)]="languages" (ngModelChange)="filter()"></nz-checkbox-group>
            </div>
            <div class="filter-row">
                <span style="margin-right: 10px">城市: </span>
                <nz-checkbox-group [(ngModel)]="cities" (ngModelChange)="filter()"></nz-checkbox-group>
            </div>
        </div>
        <div class="card-container">
            <div class="card-wrapper">
                <div class="wrapper" *ngFor="let member of members">

                    <div class="profile">
                        <img src="../../assets/images/badge2.svg" class="thumbnail">
                        <h3 class="name">{{member.name}}</h3>
                        <p class="title">{{member.getDevelop()}}</p>
                        <p class="language"><i class="fas fa-atom" style="margin-right: 10px"></i>{{member.getLanguage()}}</p>
                        <p class="city"><i class="fas fa-map-marker-alt" style="margin-right: 10px"></i>{{member.city}}</p>
                        <span class="code">{{member.code}}</span>
                        <p class="date">{{member.date | date: "yyyy-MM-dd" }} 加入</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="module-footer"></div>
</div>
